*.pyc
*.log
*.egg
*.db
*.pid
.python-version
.coverage
.coverage-debugg-ai*
coverage.xml
.junitxml*
.DS_Store
.tox
pip-log.txt
*.egg-info
/build
/dist
/dist-serverless
debugg-ai-py-serverless*.zip
.cache
.idea
.eggs
venv
.venv
.vscode/tags
.pytest_cache
.hypothesis
relay
pip-wheel-metadata
.mypy_cache
.vscode/

# for running AWS Lambda tests using AWS SAM
sam.template.yaml
.pypirc
